.credit {
    text-align: center;
    font-size: .8em;
    padding: .5em 0;
    background: $nav-hover-background;

    a {
        text-decoration: none;
        background: none;
    }
}

.footer-alternate {
    display: none;
}
