/* ==========================================================================
   Header
   ========================================================================== */

.landing {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .background-container {
        transform: translateX(0%); //Ensures that fixed background image child affixes here
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: -1;
    }
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    @include bp-max(1800) {
        width: 90%;
    }
    max-width: 90%;
}
.address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
    max-width: 100%;
}

.logo {
    height: $logo-height;
}

.before-scroll .logo-wrapper {
    $logo-wrapper-size: 1.414 * $logo-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $logo-wrapper-size;
    height: $logo-wrapper-size;
    width: $logo-wrapper-size;
    background: rgba(255,255,255,0.8);
    margin-bottom: 3em;
    margin-right: 2em;
    @include phone {
        margin-right: 0;
    }
}

.nameplate {
    height: $nameplate-height;
    margin-bottom: .5em;
    background: white;
    padding: 5px 15px;
}

.address {
    text-align: center;
    margin-top: .5em;
    font-weight: 700;
    font-size: 1.5em;
    background: white;
    padding: 5px 15px;
}

.social {
    display: none;
}

nav {
    background: white;
    width: 100%;
    max-width: 821px;
}
@include phone {
    .before-scroll nav {
        display: none;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    line-height: $nav-height;
    width: 100%;

    li {
        text-align: center;
        flex-grow: 1;
        background: white;

        &.selected {
            color: #000;
            background-color: #eee;
            @include phone {
                background-color: inherit;
            }
            border-bottom-color: #6DAA7E;
            border-bottom-style: solid;
            border-bottom-width: 4px;
            @include phone {
                border-style: none;
            }
            height: 40px;
            // font-weight: $nav-selected-font-weight;
        }

        &:hover {
            background: $nav-hover-background;
        }

    }

    a {
        text-decoration: none;
        color: #555;
        text-transform: uppercase;
        font-weight: $nav-font-weight;
        display: block;
        width: 100%;
        background: initial;
    }
}

.header-wrapper.after-scroll {
    left: 0;
    z-index: 1;
    top: 0;
    height: $nav-height;
    line-height: $nav-height;
    position: fixed;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: $nav-background;
    box-shadow: 0px 1px 2px 0px #cacaca;

    .address-wrapper {
        display: none;
    }

    .logo-wrapper {
        margin-left: calc(6.25% - #{$nav-logo-height}/2);
        cursor: pointer;
        z-index: 2;

        &:hover {
            #shadow {
                display: none;
            }
            .st1 {
                animation: multicolor-dark 6s infinite;
            }
            .st2 {
                animation: multicolor-light 6s infinite;
            }
        }
    }
    .logo {
        height: $nav-logo-height;
        vertical-align: middle;
    }
    .nav {
        //horrible flexbox hack from http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        top: 0;
        width: $nav-width;
        @include phone {
            width: 100%;
        }
        min-width: 0;

        &.open {
            box-shadow: 0 0 20px 5px black;
            @include bp-min($tablet-width) {
                box-shadow: none;
            }
        }
    }

    .social {
        display: flex;
        margin-right: 1em;
        height: $nav-height;
        margin-left: auto;

        div {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin: 0 .5em;
                height: $nav-height;
                background: initial;
            }

            &:hover {
                background: $nav-hover-background;
                transition: 0.3s;
            }
        }

        svg {
            height: 1.2em;
        }
    }

    .st1,.st2 {
        fill: #000;
        animation: none;
    }
}
