/* ==========================================================================
   Layout
   ========================================================================== */

    @mixin phone {
        @media (max-width: #{$tablet-width - 1px}) {
            @content
        }
    }

    @mixin tablet {
        @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
            @content
        }
    }

    @mixin desktop {
        @media (min-width: #{$desktop-width}) and (max-width: #{$large-width - 1px}) {
            @content
        }
    }

    @mixin large {
        @media (min-width: #{$large-width}) {
            @content
        }
    }