.events {
    .upcoming {
        font-weight: 700;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 2em;
    }
}

.event {
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.event-date {
    margin-top: 0;
    margin-bottom: 1em;
    flex: 1 100%;
}

.event-title {
    margin-top: 0;
    margin-bottom: 0;
}

.event-time {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.event-thumbnail-container {
    flex: 0 1 auto;
    margin: 0 1em 1em 0;
}
.event-thumbnail {
    max-height: 100%; 
}

.event-info {
    flex: 5 0px;
}

.events-more {
    display: inline-block;
    @include links()
}