.hours {
    font-size: 1.2em;

    ul {
        font-size: 1.7em;
        margin-bottom: 3em;
    }
    
    .day {
        margin-right: 1em;
    }

    .day li {
        font-weight: 700;
        text-align: right;
    }
}
