.events {


    .upcoming {
        font-weight: 700;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 2em;
    }
}

.event-date {
    margin-top: 0;
}

.event-title {
    margin-top: 0;
    margin-bottom: 0;
}

.event-time {
    margin-top: 0;
    font-style: italic;
}

.event-thumbnail {
    float: left;
    margin: 0 1em 1em 0;
}