.hours {
    padding: 0 $h-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    
    .day {
        margin-right: 1em;
    }

    .day li {
        font-weight: 700;
        text-align: right;
    }
}
