/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$page-width: 1000px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1920px;
$logo-height: 200px;
$nameplate-height: 70px;
$landing-width: 65%;


//Typography
$font-size: 18px;

//Nav
$nav-height: 40px;
$nav-width: 75%;
$nav-font-weight: 700;
$nav-selected-font-weight: 900;
$nav-logo-height: $nav-height - 8;

// Text Selection
$selection-color: orange;

// Colors
$link-color: #f7cfcf;
$nav-background: #fff;
$nav-hover-background: #eee;
$page-background-even: #fafafa;
$light-blue: #69c3ff;
