th#events_date, th#events_category {width:150px}
td.events_date em{color:gray;}
th#events_time{width:150px}
th#events_thumbnail{width:100px}

th#events_menu_order{width:60px}
td.events_menu_id{color:gray;text-align:right;}
td.events_menu_order{color:#219b38;text-align:right;}
th#events_menu_thumbnail{width:100px}
td.events_menu_thumbnail img{border:1px solid #d8d8d8}
th#events_menu_category,th#events_menu_title,th#events_menu_size{width:150px}

/* Metabox */

.event-meta {  }
.event-meta ul li { height: 20px; clear:both; margin: 0 0 15px 0;}
.event-meta ul li label { width: 100px; display:block; float:left; padding-top:4px; }
.event-meta ul li input { width:250px; display:block; float:left; }
.event-meta ul li em { width: 200px; display:block; float:left; color:gray; margin-left:10px; padding-top: 4px}
